    <h1>
      <img class="company logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png">
      Workshop Todo List
    </h1>

    <ul class="card">
      <li>
        <input type="checkbox" name=""/>
        <a href="show/1">Clean my room</a>
        <span class="pomodoro-estimate">4 Pomodoros</span>
      </li>
      <li>
        <input type="checkbox" name=""/>
        <a href="show/2">Finish my homework</a>
        <span class="pomodoro-estimate">3 Pomodoros</span>
      </li>
      <li>
        <input type="checkbox" name=""/>
        <a href="show/3">Take a shower</a>
        <span class="pomodoro-estimate">2 Pomodoros</span>
      </li>
      <li>
        <input type="checkbox" name=""/>
        <a href="show/4">Do my hair</a>
        <span class="pomodoro-estimate">1 Pomodoro</span>
      </li>
      <li>
        <input type="checkbox" name=""/>
       <a href="show/5">Go to school</a> 
        <span class="pomodoro-estimate">2 Pomodoros</span>
      </li>
      <li>
        <input type="checkbox" name=""/>
        <a href="show/6">Eat lunch</a>
        <span class="pomodoro-estimate">1 Pomodoro</span>
      </li>
      <li>
        <input type="checkbox" name=""/>
        <a href="show/7">Bake a cake</a>
        <span class="pomodoro-estimate">0 Pomodoros</span>
      </li>
    </ul>

    <div id="new-todo-block">
      <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo...">
      <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
      <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
    </div>
