    <h1>
      <img class="company logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png">
      Workshop Todo List
    </h1>

    <ul class="card">
      <li>
        <input type="checkbox" name=""/>
        <a href="show/<%= todo.id %"><%= todo.decsription %></a>
        <span class="pomodoro-estimate small-pomodoro-estimate">4 Pomodoros</span>
      </li>
      </ul>
      <div id="new-todo-block">
        <a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
      </div>
     
