<h3>Todo #<%=params[:id]%></h3>
 <input type="checkbox/">
    <h1><%= @todo.description%></h1>
    <a href="#">Edit</a>
    <a href="#">Delete</a>
    <a href="index.html">Go back...</a>
    <span class="pomodoro-estimate large-pomodoro-estimate"><%=@todo.pomodoro_estimate%>Pomodoros</span>